---
---
.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base {
	position: relative;
	transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-2px) scale(3);
	img {
		width: 100%;
		margin-top: -10%;
	}
}

.content {
	background: white;
	margin-top: 30%;
	height: 100vh;
	.description {
		text-align: center;
	}
	h1 {
		//text-align: center;
		padding-left: 33.3%;
		margin-left: 15px;
	}
	.ingredients {
		text-align: right;
		ul {
			list-style: none;
		}
	}
	.instructions {
		ul {
		}
	}
}
